* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 65.2%;
    font-family: $font-primary;
    background-color: $color-01;
    transition: background 0.5s linear, color 0.5s linear;
}

header,
footer {
    width: 100%;
    background-color: $color-02;
}

main {
    width: 100%;
}