header {
    width: 100%;
    background-color: $color-02;
    .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .row {
            width: 50%;
            padding: 35px 0;
            text-align: center;
            align-items: center;
            margin-left: 0;
            margin-right: 0;
            img {
                width: 450px;
            }
            a {
                text-decoration: none;
                color: $color-03;
                font-size: 1.5rem;
            }
            a:hover {
                color: $color-03;
                text-decoration: underline;
            }
        }
    }
}