main {
    width: 100%;
    .dadosPessoais {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
        }
        .col-lg-3 {
            text-align: center;
            p {
                font-size: 1.3rem;
            }
        }
    }
    .resumo {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
            p {
                text-align: justify;
                font-size: 1.3rem;
            }
        }
    }
    .formacao {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
        }
        .col-lg-4 {
            padding: 0 10px;
            h4 {
                padding-bottom: 10px;
                font-size: 1.3rem;
                font-weight: 600;
            }
            p {
                font-size: 1.15rem;
            }
        }
    }
    .projetos {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
        }
        .col-lg-4 {
            padding: 0 25px;
            margin-bottom: 5px;
            text-align: center;
            h4 {
                padding-bottom: 10px;
                font-size: 1.3rem;
                font-weight: 600;
            }
            p {
                font-size: 1.15rem;
            }
            .link {
                border: 1px solid #000;
                margin: 0px 100px 5px 100px;
                background-color: #BFBFBF;
                p {
                    margin-bottom: 0;
                    a {
                        text-decoration: none;
                        color: #000;
                        font-size: 1.3rem;
                    }
                    a:hover {
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
            .link:hover {
                background-color: #F2F2F2;
            }
        }
    }
    .conhecimentos {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
            h4 {
                font-size: 1.3rem;
                font-weight: 600;
                margin-left: 70px;
            }
        }
        .col-lg-2 {
            text-align: center;
            p {
                font-size: 1.15rem;
                margin-top: 1rem;
            }
            img {
                width: 60px;
            }
        }
    }
    .contatos {
        .col-lg-12 {
            margin: $margin-desktop;
            h1 {
                font-size: $font-size-h1-desktop;
                font-weight: $font-weight-h1;
                border-bottom: $border-bottom-h1;
            }
        }
        .col-lg-4 {
            text-align: center;
            img {
                width: 60px;
            }
            p {
                font-size: 1.3rem;
                margin-top: 1rem;
                a {
                    text-decoration: none;
                    color: #000;
                }
                a:hover {
                    font-weight: 600;
                }
            }
        }
    }
}