@media (max-width: 768px) {
    header {
        .container-fluid {
            flex-direction: column;
            align-items: center;
            .row {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding: 20px 0;
                img {
                    width: 350px;
                }
                .row {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    .col-lg-6 {
                        width: 50%;
                    }
                    .col-lg-4 {
                        width: 33.33%;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    header {
        .container-fluid {
            .row {
                display: flex;
                flex-direction: column;
                img {
                    width: 250px;
                }
                .row {
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    .col-lg-6 {
                        width: 50%;
                    }
                    .col-lg-4 {
                        width: 33.33%;
                    }
                    a {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}