@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//
$font-family-default: 'Urbanist',
sans-serif;
$font-size-h1-desktop: 1.8rem;
$font-size-h1-tablet: 1.5rem;
$font-size-h1-mobile: 1.3rem;
$font-weight-h1: 600;
$border-bottom-h1: 2px solid #000;
$margin-desktop: 20px 0;
$margin-mobile: 10px 0;
$color-01: #F2F2F2;
$color-02: #0D0D0D;
$color-03: #FFF;
$color-04: #000;
$color-05: #A6A6A6;