/*--Estilização do conteúdo textual da seção resumo--*/

.resumo-conteudo {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    margin-top: 4%;
    text-align: justify;
    line-height: normal;
}

@media screen and (min-device-width: 768px) {
    .resumo-conteudo {
        font-size: 2.8rem;
    }
}

@media screen and (min-device-width: 1024px) {
    .resumo-conteudo {
        font-size: 3rem;
    }
}