@import url('container_titulo-principal.css');
@import url('container_titulo-imagem.css');
@import url('container_imagem-principal.css');
.container_titulo {
    width: 100vw;
    display: flex;
    flex-direction: column;
}