#container_imagem-principal {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 2% auto;
}

@media screen and (min-width: 768px) {
    #container_imagem-principal {
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }
}