.container_titulo-principal {
    text-align: center;
    color: #d1d5dd;
    font-weight: 700;
    font-size: 3.25rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    padding-bottom: 15%;
}

@media screen and (min-device-width: 768px) {
    .container_titulo-principal {
        font-size: 5rem;
        margin-top: 3%;
    }
}

@media screen and (min-device-width: 1024px) {
    .container_titulo-principal {
        margin-top: 0%;
        padding-bottom: 0%;
    }
}