.container_titulo-imagem {
    width: 200px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container_titulo-imagem {
        width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .container_titulo-imagem {
        width: 400px;
        margin: 0 0;
    }
}