.container_titulo-imagem {
    width: 100%;
    margin: 0 auto;
    filter: grayscale(25%);
}

.container_titulo-imagem:hover {
    filter: grayscale(0%);
}

@media screen and (min-device-width: 768px) {
    .container_titulo-imagem {
        width: 100%;
    }
}