@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica/coolvetica_rg.otf') format('otf'), url('../fonts/coolvetica/coolvetica_rg-webfont.woff') format('woff'), url('../fonts/coolvetica/coolvetica_rg-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'nulshock-bold';
    src: url('../fonts/nulshock/nulshock.ttf') format('ttf'), url('../fonts/nulshock/nulshock-webfont.woff') format('woff'), url('../fonts/nulshock/nulshock-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nulshock';
    src: url('../fonts/nulshock/nulshock.ttf') format('ttf'), url('../fonts/nulshock/nulshock-webfont.woff') format('woff'), url('../fonts/nulshock/nulshock-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('../fonts/typewriter/typewcond_demi.otf') format('otf'), url('../fonts/typewriter/typewcond_demi-webfont.woff') format('woff'), url('../fonts/typewriter/typewcond_demi-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'typewriter-bold';
    src: url('../fonts/typewriter/typewcond_bold.otf') format('otf'), url('../fonts/typewriter/typewcond_bold-webfont.woff') format('woff'), url('../fonts/typewriter/typewcond_bold-webfont.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'timeless';
    src: url('../fonts/timeless/Timeless.ttf') format('ttf'), url('../fonts/timeless/timeless-webfont.woff') format('woff'), url('../fonts/timeless/timeless-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'timeless-bold';
    src: url('../fonts/timeless/Timeless-Bold.ttf') format('ttf'), url('../fonts/timeless/timeless-bold-webfont.woff') format('woff'), url('../fonts/timeless/timeless-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}