.formacao {
    @extend %paddingSecao;
    &__cabecalho {
        @extend %cabecalhoSecao;
    }
    &__titulo {
        @extend %tituloSecao;
    }
    &__itens {
        @extend %paddingItensSecao;
        @include displayGrid(repeat(3, 1fr), 1rem);
    }
    &__item {
        @extend %itemSecao;
        line-height: 1.25;
        text-align: center;
        box-shadow: 10px 10px 10px $colorBoxShadow;
        @include padding(0.75rem, 0.5rem, 0.75rem, 0.5rem);
        p {
            font-size: 1.25rem;
        }
    }
    &__curso,
    &__nome {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .formacao {
        &__itens {
            @include displayGrid(repeat(2, 1fr), 1rem);
        }
    }
}

@media (max-width: 576px) {
    .formacao {
        &__cabecalho {
            @include padding(2rem, 0, 0, .5rem);
        }
        &__titulo {
            @include fontTitulo(1.5rem, $colorFontTitulo, 3px);
        }
        &__itens {
            @include padding(2rem, .5rem, 0, .5rem);
            @include displayGrid(repeat(1, 1fr), 1rem);
        }
        &__item {
            @include fontTexto(1.2rem, 400);
            width: 85%;
            margin: 0 auto;
            p {
                font-size: 1.2rem;
            }
        }
    }
}