header {
    width: 100%;
    background-color: #0D0D0D;
}

header .row {
    padding: 35px 0;
}

header .col-lg-12,
header .col-lg-3,
header .col-lg-2 {
    text-align: center;
}

header img {
    width: 450px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

header a:hover {
    text-decoration: underline;
    font-weight: 600;
}

@media (max-width: 768px) {
    header .row {
        padding: 0px;
    }
    header .col-lg-3,
    header .col-lg-2 {
        padding: 10px;
    }
    header .col-lg-12 {
        padding: 15px 0;
    }
    header a {
        font-size: 1.3rem;
    }
    header img {
        width: 350px;
    }
}

@media (max-width: 576px) {
    header img {
        width: 250px;
    }
    header a {
        font-size: 1.1rem;
    }
    header .col-lg-3,
    header .col-lg-2 {
        padding: 10px 0;
    }
}