header {
    width: 100%;
    background-color: #0D0D0D;
}

header .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .row {
    width: 50%;
    padding: 35px 0;
    text-align: center;
    align-items: center;
}

header img {
    width: 450px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

header a:hover {
    text-decoration: underline;
    font-weight: 600;
}

@media (max-width: 768px) {
    header .container-fluid {
        flex-direction: column;
        align-items: center;
    }
    header .row {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 20px 0;
    }
    header .row>.row {
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    header .col-lg-6 {
        width: 50%;
    }
    header .col-lg-4 {
        width: 33.33%;
    }
    header img {
        width: 350px;
    }
}

@media (max-width: 576px) {
    header .row {
        display: flex;
        flex-direction: column;
    }
    header .row>.row {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    header img {
        width: 250px;
    }
    header a {
        font-size: 1.1rem;
    }
    header .col-lg-3,
    header .col-lg-2 {
        padding: 10px 0;
    }
}