/*--Estilização dos itens do rodapé--*/

.rodape-item {
    color: #d1d5dd;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 2%;
}

.rodape-dev {
    font-size: 80%;
    display: block;
}

@media screen and (min-device-width: 768px) {
    .rodape-item {
        font-size: 1.4rem;
    }
}

@media screen and (min-device-width: 1024px) {
    .rodape-item {
        font-size: 1.6rem;
    }
}