/*--Chamada dos arquivos css filhos--*/

@import url('rodape-item.css');
@import url('rodape-home.css');

/*--Estilização do campo rodapé--*/

.rodape {
    display: flex;
    justify-content: space-between;
    background: #1C1C1C;
    width: 100vw;
    height: 32px;
}

@media screen and (min-device-width: 768px) {
    .rodape {
        height: 50px;
    }
}

@media screen and (min-device-width: 1024px) {
    .rodape {
        height: 60px;
    }
}