@import url('rodape-lista.css');
@import url('rodape-item.css');
@import url('rodape-imagem.css');
@import url('rodape-home.css');
@import url('rodape-item-home.css');
.rodape {
    display: flex;
    background: #1a1a1f;
    justify-content: flex-end;
    height: 32px;
}

@media screen and (min-device-width: 768px) {
    .rodape {
        height: 50px;
    }
}