.rodape-imagem {
    width: 20px;
    height: 20px;
}

@media screen and (min-device-width: 768px) {
    .rodape-imagem {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-device-width: 1024px) {
    .rodape-imagem {
        width: 35px;
        height: 35px;
    }
}