/*--Estilização da tela inicial para o usuário--*/

.initial {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-device-width: 768px) {
    .initial {
        height: 90vh;
    }
}

@media screen and (min-device-width: 1024px) {
    .initial {
        height: 100vh;
    }
}