@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 65.2%;
  font-family: "Urbanist", sans-serif !important;
  background-color: #F2F2F2;
  transition: background 0.5s linear, color 0.5s linear; }

header {
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%); }
  header .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .container-fluid .row {
      width: 50%;
      padding: 35px 0;
      text-align: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0; }
      header .container-fluid .row img {
        width: 450px; }
      header .container-fluid .row a {
        text-decoration: none;
        color: #FFF;
        font-size: 1.5rem; }
      header .container-fluid .row a:hover {
        color: #FFF;
        text-decoration: underline; }

header {
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%); }
  header .cabecalho-preview {
    display: flex;
    flex-direction: row; }
    header .cabecalho-preview .voltar {
      width: 10%;
      margin: auto 0; }
      header .cabecalho-preview .voltar .container-fluid {
        padding-right: 0 !important;
        margin-right: 0 !important; }
        header .cabecalho-preview .voltar .container-fluid .row .col-lg-12 a {
          cursor: pointer; }
          header .cabecalho-preview .voltar .container-fluid .row .col-lg-12 a img {
            width: 40px; }
    header .cabecalho-preview .cabecalho {
      width: 90%; }
      header .cabecalho-preview .cabecalho .container-fluid {
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-left: 0 !important;
        margin-left: 0 !important; }
        header .cabecalho-preview .cabecalho .container-fluid .row {
          width: 100%;
          padding: 0;
          text-align: center;
          margin-left: 0;
          margin-right: 0; }
          header .cabecalho-preview .cabecalho .container-fluid .row h1 {
            color: #FFF;
            font-size: 4rem;
            font-weight: 600;
            margin-bottom: 0;
            padding-top: 15px; }
          header .cabecalho-preview .cabecalho .container-fluid .row h3 {
            color: #FFF;
            font-size: 2.50rem;
            font-weight: 600;
            margin-bottom: 0;
            padding: 15px 0 20px 0; }

main {
  width: 100%; }
  main .dadosPessoais .col-lg-12 {
    margin: 20px 0; }
    main .dadosPessoais .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
  main .dadosPessoais .col-lg-3 {
    text-align: center; }
    main .dadosPessoais .col-lg-3 p {
      font-size: 1.3rem; }
  main .resumo .col-lg-12 {
    margin: 20px 0; }
    main .resumo .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
    main .resumo .col-lg-12 p {
      text-align: justify;
      font-size: 1.3rem; }
  main .formacao .col-lg-12 {
    margin: 20px 0; }
    main .formacao .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
  main .formacao .col-lg-4 {
    padding: 0 10px; }
    main .formacao .col-lg-4 h4 {
      padding-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 600; }
    main .formacao .col-lg-4 p {
      font-size: 1.15rem; }
  main .projetos .col-lg-12 {
    margin: 20px 0; }
    main .projetos .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
  main .projetos .col-lg-4 {
    padding: 0 25px;
    margin-bottom: 5px;
    text-align: center; }
    main .projetos .col-lg-4 h4 {
      padding-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 600; }
    main .projetos .col-lg-4 p {
      font-size: 1.15rem; }
    main .projetos .col-lg-4 .link a {
      background-color: #41505e;
      border: 1px solid #41505e;
      margin-bottom: 5px;
      padding: 5px 20px;
      color: #FFF;
      font-size: 1.3rem;
      font-weight: 600; }
      main .projetos .col-lg-4 .link a:hover {
        background-color: #62788d; }
  main .conhecimentos .col-lg-12 {
    margin: 20px 0; }
    main .conhecimentos .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
    main .conhecimentos .col-lg-12 h4 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-left: 70px; }
  main .conhecimentos .col-lg-2 {
    text-align: center;
    margin: 1.5rem 0; }
    main .conhecimentos .col-lg-2 img {
      width: 60px; }
  main .contatos .col-lg-12 {
    margin: 20px 0; }
    main .contatos .col-lg-12 h1 {
      font-size: 1.8rem;
      font-weight: 600;
      border-bottom: 2px solid #000; }
  main .contatos .col-lg-4 {
    text-align: center;
    margin: 2rem 0 3rem 0; }
    main .contatos .col-lg-4 img {
      width: 60px; }

main {
  width: 100%; }
  main .preview .motivos {
    width: 50%; }
    main .preview .motivos .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .motivos .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
      main .preview .motivos .col-lg-12 p {
        text-align: justify;
        font-size: 1.3rem; }
  main .preview .funcionalidades {
    width: 50%;
    margin-left: 50%; }
    main .preview .funcionalidades .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .funcionalidades .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
      main .preview .funcionalidades .col-lg-12 li {
        text-align: justify;
        font-size: 1.3rem; }
  main .preview .objetivos {
    width: 50%; }
    main .preview .objetivos .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .objetivos .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
      main .preview .objetivos .col-lg-12 li {
        text-align: justify;
        font-size: 1.3rem; }
  main .preview .construcao {
    width: 50%;
    margin-left: 50%; }
    main .preview .construcao .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .construcao .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
    main .preview .construcao .col-lg-2 {
      text-align: center;
      margin: 0 auto; }
      main .preview .construcao .col-lg-2 img {
        width: 60px; }
  main .preview .codigo {
    width: 50%; }
    main .preview .codigo .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .codigo .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
      main .preview .codigo .col-lg-12 .link {
        text-align: center;
        padding-top: 10px; }
        main .preview .codigo .col-lg-12 .link a {
          background-color: #41505e;
          border: 1px solid #41505e;
          margin-bottom: 5px;
          padding: 5px 20px;
          color: #FFF;
          font-size: 1.3rem;
          font-weight: 600; }
          main .preview .codigo .col-lg-12 .link a:hover {
            background-color: #62788d; }
  main .preview .templates {
    width: 100%; }
    main .preview .templates .col-lg-12 {
      margin: 20px 0;
      text-align: center; }
      main .preview .templates .col-lg-12 h6 {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid #000; }
      main .preview .templates .col-lg-12 p {
        font-size: 1.8rem; }
      main .preview .templates .col-lg-12 img {
        max-width: inherit; }

@media (max-width: 768px) {
  header .container-fluid {
    flex-direction: column;
    align-items: center; }
    header .container-fluid .row {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding: 20px 0; }
      header .container-fluid .row img {
        width: 350px; }
      header .container-fluid .row .row {
        width: 50%;
        display: flex;
        flex-direction: row; }
        header .container-fluid .row .row .col-lg-3 {
          width: 30%; }
        header .container-fluid .row .row .col-lg-6 {
          width: 40%; }
        header .container-fluid .row .row .col-lg-4 {
          width: 33.33%; }
  main .container {
    padding-left: 0;
    padding-right: 0; }
    main .container .dadosPessoais .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .dadosPessoais .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
        main .container .dadosPessoais .container-fluid .row .col-lg-3 {
          width: 25%; }
    main .container .resumo .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .resumo .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
    main .container .formacao .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .formacao .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
        main .container .formacao .container-fluid .row .col-lg-4 {
          padding: 0 10px; }
          main .container .formacao .container-fluid .row .col-lg-4 h4 {
            padding: 15px 0; }
    main .container .projetos .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .projetos .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
        main .container .projetos .container-fluid .row .col-lg-4 h4 {
          padding: 15px 0;
          text-align: center; }
        main .container .projetos .container-fluid .row .col-lg-4 p {
          text-align: center; }
        main .container .projetos .container-fluid .row .col-lg-4 .link {
          margin: 0px 180px 5px; }
    main .container .conhecimentos .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .conhecimentos .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
        main .container .conhecimentos .container-fluid .row .col-lg-12 h4 {
          margin-left: 0px; }
        main .container .conhecimentos .container-fluid .row .col-lg-2 {
          width: 50%; }
          main .container .conhecimentos .container-fluid .row .col-lg-2 p {
            margin-bottom: .5rem; }
          main .container .conhecimentos .container-fluid .row .col-lg-2 img {
            padding-bottom: 15px; }
    main .container .contatos .container-fluid {
      padding-left: 0;
      padding-right: 0; }
      main .container .contatos .container-fluid .row {
        text-align: center;
        --bs-gutter-x: 0; }
        main .container .contatos .container-fluid .row .col-lg-4 {
          width: 33.3%; }
  footer .row {
    padding: 0; }
    footer .row .col-lg-8 {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px; }
      footer .row .col-lg-8 p {
        font-size: .7rem; }
    footer .row .col-lg-4 {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px; }
      footer .row .col-lg-4 a img {
        width: 20px; } }

@media (max-width: 576px) {
  header .container-fluid .row {
    display: flex;
    flex-direction: column; }
    header .container-fluid .row img {
      width: 250px; }
    header .container-fluid .row .row {
      width: 85%;
      display: flex;
      flex-direction: row; }
      header .container-fluid .row .row .col-lg-6 {
        width: 40%; }
        header .container-fluid .row .row .col-lg-6 a {
          font-size: 1.3rem; }
      header .container-fluid .row .row .col-lg-3 {
        width: 30%; }
        header .container-fluid .row .row .col-lg-3 a {
          font-size: 1.3rem; }
      header .container-fluid .row .row .col-lg-4 {
        width: 33.33%; }
        header .container-fluid .row .row .col-lg-4 a {
          font-size: 1.3rem; }
  main .container .dadosPessoais .container-fluid {
    padding: 0 10px; }
    main .container .dadosPessoais .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .dadosPessoais .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .dadosPessoais .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
      main .container .dadosPessoais .container-fluid .row .col-lg-3 {
        width: 50%; }
        main .container .dadosPessoais .container-fluid .row .col-lg-3 p {
          font-size: 1.15rem; }
  main .container .resumo .container-fluid {
    padding: 0 10px; }
    main .container .resumo .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .resumo .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .resumo .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
        main .container .resumo .container-fluid .row .col-lg-12 p {
          font-size: 1.15rem; }
  main .container .formacao .container-fluid {
    padding: 0 10px; }
    main .container .formacao .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .formacao .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .formacao .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
      main .container .formacao .container-fluid .row .col-lg-4 {
        padding: 0 10px; }
  main .container .projetos .container-fluid {
    padding: 0 10px; }
    main .container .projetos .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .projetos .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .projetos .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
      main .container .projetos .container-fluid .row .col-lg-4 .link {
        margin: 0px 80px 5px; }
        main .container .projetos .container-fluid .row .col-lg-4 .link a {
          font-size: .985rem; }
  main .container .conhecimentos .container-fluid {
    padding: 0 10px; }
    main .container .conhecimentos .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .conhecimentos .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .conhecimentos .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
        main .container .conhecimentos .container-fluid .row .col-lg-12 h4 {
          margin-left: 0; }
      main .container .conhecimentos .container-fluid .row .col-lg-2 img {
        width: 50px; }
  main .container .contatos .container-fluid {
    padding: 0 10px; }
    main .container .contatos .container-fluid .row {
      padding: 0 10px;
      text-align: center; }
      main .container .contatos .container-fluid .row .col-lg-12 {
        margin: 10px 0;
        font-size: none; }
        main .container .contatos .container-fluid .row .col-lg-12 h1 {
          font-size: 1.5rem; }
      main .container .contatos .container-fluid .row .col-lg-4 {
        width: 100%;
        margin: 2rem 0 2rem 0; }
        main .container .contatos .container-fluid .row .col-lg-4 img {
          width: 50px; }
  footer .row .col-lg-8,
  footer .row .col-lg-4 {
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 768px) {
  header .cabecalho-preview .voltar .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  header .cabecalho-preview .cabecalho .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important; }
    header .cabecalho-preview .cabecalho .container-fluid .row h1 {
      font-size: 3.8rem; }
    header .cabecalho-preview .cabecalho .container-fluid .row h3 {
      font-size: 2.25rem; }
  main .preview .construcao .col-lg-2 {
    width: 50%;
    margin: 0;
    padding: 10px 0; }
  main .preview .templates .col-lg-12 img {
    max-width: inherit; } }

@media (max-width: 576px) {
  header .cabecalho-preview .voltar .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  header .cabecalho-preview .cabecalho .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important; }
    header .cabecalho-preview .cabecalho .container-fluid .row {
      padding-right: 0 !important;
      padding-left: 0 !important; }
      header .cabecalho-preview .cabecalho .container-fluid .row h1 {
        font-size: 2.8rem; }
      header .cabecalho-preview .cabecalho .container-fluid .row h3 {
        font-size: 1.8rem; }
  main .preview .motivos,
  main .preview .objetivos,
  main .preview .codigo,
  main .preview .templates {
    width: 100%; }
    main .preview .motivos .col-lg-12 h6,
    main .preview .objetivos .col-lg-12 h6,
    main .preview .codigo .col-lg-12 h6,
    main .preview .templates .col-lg-12 h6 {
      font-size: 1.5rem; }
    main .preview .motivos .col-lg-12 p,
    main .preview .objetivos .col-lg-12 p,
    main .preview .codigo .col-lg-12 p,
    main .preview .templates .col-lg-12 p {
      font-size: 1.15rem; }
    main .preview .motivos .col-lg-12 li,
    main .preview .objetivos .col-lg-12 li,
    main .preview .codigo .col-lg-12 li,
    main .preview .templates .col-lg-12 li {
      font-size: 1.15rem; }
    main .preview .motivos .col-lg-12 .link a,
    main .preview .objetivos .col-lg-12 .link a,
    main .preview .codigo .col-lg-12 .link a,
    main .preview .templates .col-lg-12 .link a {
      font-size: 1.15rem; }
  main .preview .funcionalidades,
  main .preview .construcao {
    width: 100%;
    margin-left: 0; }
    main .preview .funcionalidades .col-lg-12 h6,
    main .preview .construcao .col-lg-12 h6 {
      font-size: 1.5rem; }
    main .preview .funcionalidades .col-lg-12 li,
    main .preview .construcao .col-lg-12 li {
      font-size: 1.15rem; } }

footer {
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%); }
  footer .row {
    padding: 10px 0; }
    footer .row .col-lg-8 {
      text-align: left;
      padding-left: 20px;
      padding-top: 8px; }
      footer .row .col-lg-8 a {
        text-decoration: none; }
        footer .row .col-lg-8 a p {
          color: #FFF;
          font-size: .9rem;
          font-weight: 600; }
    footer .row .col-lg-4 {
      text-align: right;
      padding-right: 20px;
      padding-top: 8px; }
      footer .row .col-lg-4 a img {
        padding-left: 5px;
        width: 25px; }
