.contatos-item {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    padding: 3% 5%;
    margin-top: 3%;
}

@media screen and (min-width: 768px) {
    .contatos-item {
        padding: 2% 10%;
    }
}