<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite</title>
</head>

<body>
    <header>
        <app-nav></app-nav>
        <app-apresentacao></app-apresentacao>
    </header>
    <main>
        <app-dados></app-dados>
        <app-resumo></app-resumo>
        <app-formacao></app-formacao>
        <app-projetos></app-projetos>
        <app-conhecimentos></app-conhecimentos>
        <app-contatos></app-contatos>
    </main>
    <footer>
        <app-rodape></app-rodape>
    </footer>
</body>

</html>