main {
    width: 100%;
    .preview {
        .motivos {
            width: 50%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
                p {
                    text-align: justify;
                    font-size: 1.3rem;
                }
            }
        }
        .funcionalidades {
            width: 50%;
            margin-left: 50%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
                li {
                    text-align: justify;
                    font-size: 1.3rem;
                }
            }
        }
        .objetivos {
            width: 50%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
                li {
                    text-align: justify;
                    font-size: 1.3rem;
                }
            }
        }
        .construcao {
            width: 50%;
            margin-left: 50%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
            }
            .col-lg-2 {
                text-align: center;
                margin: 0 auto;
                img {
                    width: 60px;
                }
            }
        }
        .codigo {
            width: 50%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
                .link {
                    text-align: center;
                    padding-top: 10px;
                    a {
                        background-color: $color-07;
                        border: 1px solid $color-07;
                        margin-bottom: 5px;
                        padding: 5px 20px;
                        color: $color-03;
                        font-size: 1.3rem;
                        font-weight: 600;
                        &:hover {
                            background-color: $color-06;
                        }
                    }
                }
            }
        }
        .templates {
            width: 100%;
            .col-lg-12 {
                margin: $margin-desktop;
                text-align: center;
                h6 {
                    font-size: $font-size-h1-desktop;
                    font-weight: $font-weight-h1;
                    border-bottom: $border-bottom-h1;
                }
                p {
                    font-size: 1.8rem;
                }
                img {
                    max-width: inherit;
                }
            }
        }
    }
}