@mixin container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@mixin row {
    text-align: center;
    --bs-gutter-x: 0;
}

@mixin mobile($m-b: $margin-mobile, $fs-mobile: $font-size-h1-mobile) {
    margin: $m-b;
    font-size: $fs-mobile;
}