@media (max-width: 768px) {
    header {
        .cabecalho-preview {
            .voltar {
                .container-fluid {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }
            }
            .cabecalho {
                .container-fluid {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    .row {
                        h1 {
                            font-size: 3.8rem;
                        }
                        h3 {
                            font-size: 2.25rem;
                        }
                    }
                }
            }
        }
    }
    main {
        .preview {
            .construcao {
                .col-lg-2 {
                    width: 50%;
                    margin: 0;
                    padding: 10px 0;
                }
            }
            .templates {
                .col-lg-12 {
                    img {
                        max-width: inherit;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    header {
        .cabecalho-preview {
            .voltar {
                .container-fluid {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }
            }
            .cabecalho {
                .container-fluid {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    .row {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                        h1 {
                            font-size: 2.8rem;
                        }
                        h3 {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    main {
        .preview {
            .motivos,
            .objetivos,
            .codigo,
            .templates {
                width: 100%;
                .col-lg-12 {
                    h6 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1.15rem;
                    }
                    li {
                        font-size: 1.15rem;
                    }
                    .link {
                        a {
                            font-size: 1.15rem;
                        }
                    }
                }
            }
            .funcionalidades,
            .construcao {
                width: 100%;
                margin-left: 0;
                .col-lg-12 {
                    h6 {
                        font-size: 1.5rem;
                    }
                    li {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}