@media (max-width: 768px) {
    header {
        .container-fluid {
            flex-direction: column;
            align-items: center;
            .row {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding: 20px 0;
                img {
                    width: 350px;
                }
                .row {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    .col-lg-6 {
                        width: 50%;
                    }
                    .col-lg-4 {
                        width: 33.33%;
                    }
                }
            }
        }
    }
    main {
        .container {
            padding-left: 0;
            padding-right: 0;
            .dadosPessoais {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                        .col-lg-3 {
                            width: 25%;
                        }
                    }
                }
            }
            .resumo {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                    }
                }
            }
            .formacao {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                        .col-lg-4 {
                            padding: 0 10px;
                            h4 {
                                padding: 15px 0;
                            }
                        }
                    }
                }
            }
            .projetos {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                        .col-lg-4 {
                            h4 {
                                padding: 15px 0;
                                text-align: center;
                            }
                            p {
                                text-align: center;
                            }
                            .link {
                                margin: 0px 180px 5px;
                            }
                        }
                    }
                }
            }
            .conhecimentos {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                        .col-lg-12 {
                            h4 {
                                margin-left: 0px;
                            }
                        }
                        .col-lg-2 {
                            width: 50%;
                            p {
                                margin-bottom: .5rem;
                            }
                            img {
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
            }
            .contatos {
                .container-fluid {
                    @include container-fluid;
                    .row {
                        @include row;
                        .col-lg-4 {
                            width: 33.3%;
                        }
                    }
                }
            }
        }
    }
    footer {
        .row {
            padding: 0;
            .col-lg-8 {
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                p {
                    font-size: .7rem;
                }
            }
            .col-lg-4 {
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                a {
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    header {
        .container-fluid {
            .row {
                display: flex;
                flex-direction: column;
                img {
                    width: 250px;
                }
                .row {
                    width: 85%;
                    display: flex;
                    flex-direction: row;
                    .col-lg-6 {
                        width: 50%;
                    }
                    .col-lg-4 {
                        width: 33.33%;
                    }
                }
            }
        }
    }
    main {
        .container {
            .dadosPessoais {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                        }
                        .col-lg-3 {
                            width: 50%;
                        }
                    }
                }
            }
            .resumo {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                        }
                    }
                }
            }
            .formacao {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                        }
                        .col-lg-4 {
                            padding: 0 10px;
                        }
                    }
                }
            }
            .projetos {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                        }
                        .col-lg-4 {
                            .link {
                                margin: 0px 80px 5px;
                                a {
                                    font-size: .985rem;
                                }
                            }
                        }
                    }
                }
            }
            .conhecimentos {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                            h4 {
                                margin-left: 0;
                            }
                        }
                        .col-lg-2 {
                            img {
                                width: 50px;
                            }
                        }
                    }
                }
            }
            .contatos {
                .container-fluid {
                    padding: 0 10px;
                    .row {
                        padding: 0 10px;
                        text-align: center;
                        .col-lg-12 {
                            @include mobile($fs-mobile: none);
                        }
                        .col-lg-4 {
                            width: 100%;
                            margin: 2rem 0 2rem 0;
                            img {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .row {
            .col-lg-8,
            .col-lg-4 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}