.cabecalho_principal-item {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #404046;
}

@media screen and (min-width: 768px) {
    .cabecalho_principal-item {
        font-size: 2.5rem;
    }
}