.cabecalho_principal-item {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #d1d5dd;
}

.cabecalho_principal-item:hover {
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .cabecalho_principal-item {
        font-size: 2.5rem;
    }
    .cabecalho_principal-item:hover {
        font-size: 2.7rem;
    }
}