@import url('cabecalho_principal-lista.css');
@import url('cabecalho_principal-link.css');
@import url('cabecalho_principal-item.css');
.cabecalho_principal {
    display: flex;
    flex-direction: row;
    width: 100vw;
}