/*--Chamada dos arquivos css filhos--*/

@import url('cabecalho_principal-lista.css');
@import url('cabecalho_principal-link.css');
@import url('cabecalho_principal-item.css');

/*--Estilização do campo cabeçalho do site--*/

.cabecalho_principal {
    display: flex;
    flex-direction: row;
    width: 100vw;
}