/*--Estilização do texto/item do menu de navegação--*/

.cabecalho_principal-item {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #d1d5dd;
}

.cabecalho_principal-item:hover {
    cursor: pointer;
    font-size: 1.4rem;
}

@media screen and (min-device-width: 768px) {
    .cabecalho_principal-item {
        font-size: 1.7rem;
    }
    .cabecalho_principal-item:hover {
        font-size: 1.85rem;
    }
}