/*--Estilização do menu de navegação do site--*/

.cabecalho_principal-lista {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 5%;
}

@media screen and (min-device-width: 1024px) {
    .cabecalho_principal-lista {
        padding-top: 1%;
    }
}