.cabecalho_principal-link-0 {
    margin: 6% 0;
}

.cabecalho_principal-link-0:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {
    .cabecalho_principal-link-0 {
        margin: auto auto;
        grid-row: 2/2;
        grid-column: 1/1;
    }
}