.cabecalho_principal-lista {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .cabecalho_principal-lista {
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 26% 24.66% 24.66% 24.66%;
    }
}