/*--Estilização do texto/itens da lista da seção dados pessoais--*/

.dados_pessoais-item {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    padding: 3% 2%;
    margin-top: 3%;
}

@media screen and (min-device-width: 768px) {
    .dados_pessoais-item {
        font-size: 2.2rem;
        padding: 1% 5%;
    }
}

@media screen and (min-device-width: 1024px) {
    .dados_pessoais-item {
        font-size: 2.2rem;
        padding: 1% 0%;
    }
}