.dados_pessoais-titulo {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #000000;
    margin-top: 5%;
    padding-bottom: 1%;
}

@media screen and (min-device-width: 768px) {
    .dados_pessoais-titulo {
        font-size: 3.5rem;
        border-bottom: 3.5px solid #000000;
    }
}