/*--Estilização do texto/itens da lista da seção formação--*/

.formacao-item {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    padding-bottom: 5%;
}

@media screen and (min-device-width: 768px) {
    .formacao-item {
        font-size: 2.8rem;
    }
}