/*--Estilização da linha temporal da lista da seção formação--*/

.formacao-bola {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #1a1a1f;
    border-radius: 50%;
}

.formacao-linha {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #1a1a1f;
    transform: translate(6px, -7px);
}

@media screen and (min-device-width: 768px) {
    .formacao-bola {
        width: 20px;
        height: 20px;
    }
    .formacao-linha {
        width: 2px;
        transform: translate(9px, -7px);
    }
}