/*--Estilização da linha temporal da lista da seção formação--*/

.formacao-bola {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #1a1a1f;
    border-radius: 50%;
}

.formacao-linha {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #1a1a1f;
    transform: translate(4.5px, -7px);
}

@media screen and (min-device-width: 768px) {
    .formacao-bola {
        width: 16px;
        height: 16px;
    }
    .formacao-linha {
        width: 2px;
        transform: translate(7.5px, -7px);
    }
}

@media screen and (min-device-width: 1024px) {
    .formacao-bola {
        width: 19px;
        height: 19px;
    }
    .formacao-linha {
        width: 2px;
        transform: translate(9px, -7px);
    }
}