.formacao-item {
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    padding: 3% 5%;
    margin-top: 3%;
}

@media screen and (min-width: 768px) {
    .formacao-item {
        font-size: 2.2rem;
        padding: 1% 3%;
    }
}