.formacao-periodo {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 3%;
}

@media screen and (min-device-width: 768px) {
    .formacao-periodo {
        font-size: 2rem;
    }
}