.conhecimentos-subtitulo {
    background-color: #1a1a1f;
    width: 80%;
    color: #d1d5dd;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5% auto 2.5% auto;
    padding: 2% 0;
}