.conhecimentos-lista {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-device-width: 768px) {
    .conhecimentos-lista {
        width: 90%;
        margin: 0 auto;
    }
}